*{
    margin : 0;
    padding : 0
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(30, 29, 52);
}

.input {
    width: 200px;
    display: flex;
    flex-direction: row;
    border : 1px solid black;
    border-radius: 2px;
    background-color: white; 
}

.date-input {
    border: none;
    padding: 5px;
}

.date-button {
    border: none;
    padding: 5px;
}

.date-picker {
    position: absolute;
    width: 200px;
    margin-top: 2px;
    display: flex;
    flex-direction: column;
    border : 1px solid black;
    border-radius: 2px;
    background-color: white;
}

.month-year {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.switch-month {
    border: none;
    padding: 5px;
    background-color: white;
}

#month { 
    border: none;
    padding: 3px;
}

#year {
    border: none;
    padding: 3px;
}

.days {
    padding: 5px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 1px solid black;
}

.dates {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;

}

.date {
    padding: 5px;
    text-align: center;
    border: 1px solid black;
}

